.button {
    @extend .block;
    @extend .fs\-;
    @extend .fw\+;
    @extend .ph\+\+;
    @extend .pv;
    @extend .border-box;
    @extend .outline-none;
    @extend .cursor-pointer;
    
    color: white;
    border: none;

    &--primary {
        @extend .brand-background;
    }

    &--secondary {
        background: $text-primary;
    }
}