.onboard {
    @extend .mt\+\+\+\+;
    @extend .margin-center;

    width: 300px;

    &__label {
        @extend .block;
        @extend .w1\/1;
        @extend .fw\+;
        
        text-align: center;
    }

    &__sub-label {
        @extend .block;
        @extend .w1\/1;
        @extend .fs\-;
        @extend .mt;

        text-align: center;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        @extend .w1\/1;
        @extend .mt\+;
    }

    &__error {
        @extend .none;
        @extend .fs\-;
        @extend .fw\+;

        &--active {
            @extend .block;
        }
    }

    &__submit {
        @extend .block;
        @extend .margin-center;
        @extend .mt\+\+;
    }

    &__sub-form {
        @extend .mt\+\+;
        @extend .pv\+;
        
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        overflow: hidden;

        & label {
            text-align: left;
        }

        & .button {
            @extend .pull-right;
            @extend .mt\+;
        }
    }
}