.onboard {
    @extend .mt\+\+\+\+;
    @extend .margin-center;

    width: 300px;

    &__label {
        @extend .block;
        @extend .w1\/1;
        @extend .fs\+;
        @extend .fw\+;
        
        text-align: center;

        &--small {
            font-size: 16px !important;
        }
    }

    &__sub-label {
        @extend .block;
        @extend .w1\/1;
        @extend .fs\-;
        @extend .mt;

        text-align: center;
    }

    input[type="text"], input[type="email"], input[type="password"], select {
        @extend .w1\/1;
        @extend .mt\+;
    }

    &__error {
        @extend .none;
        @extend .fs\-;
        @extend .fw\+;

        &--active {
            @extend .block;
        }
    }

    &__submit {
        @extend .block;
        @extend .margin-center;
        @extend .mt\+\+;
    }

    &__sub-form {
        @extend .mt\+\+;
        @extend .pv\+;
        
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        overflow: hidden;

        & label {
            text-align: left;
        }

        & .button {
            @extend .pull-left;
            @extend .mt\+;
        }

        & i {
            @extend .none;
            @extend .pull-left;
            @extend .mt\+;
            @extend .ml;
            
            width: 30px;
            height: 30px;
            background-image: url('..//assets/gif/loader-small.gif');
            background-repeat: no-repeat;
            background-size: cover;

            &.show {
                @extend .block;
            }
        }

        & p {
            @extend .none;
            @extend .pull-left;
            @extend .mt\+;
            @extend .ml;
            @extend .fs\-;
            @extend .fw\+;

            &.show {
                @extend .block;
            }
        }
    }

    &__sub-submit {
        @extend .flex;
        align-items: center;
    }

    &__secondary-form {
        @extend .mt\+\+;
        @extend .pv\+;
        
        border-top: 1px solid $border-color;

        & p {
            @extend .fs\-;

            text-align: center;
        }

        & .button {
            @extend .mt\+;
            margin: 0 auto;
        }
    }

    &__note {
        @extend .fw\+;
        @extend .mt\+;

        text-align: center;
    }

    &__radio-form {
        @extend .mv\+;
        @extend .pb\+;
        border-bottom: 1px solid $border-color;

        & div {
            @extend .flex;
            @extend .flex__center;

            &:nth-child(3) {
                @extend .mt\+;
            }
        }

        & input {
            @extend .mr\-;
        }

        & p {
            @extend .mt\-;
            margin-left: 28px;
        }
    }
}