<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joyread</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.css" />
</head>
<body>
    <header class="header">
        <div class="header__left"></div>
        <a href="" class="header__logo"><img src="/assets/img/vector/logo.svg" alt="Joyread"></a>
        <div class="header__right">
            <a href="" class="header__nav">
                <p>Sign in</p>
            </a>
        </div>
        <div class="header__n-dropdown open">
            asdf
        </div>
    </header>
    <main class="onboard">
        <div class="onboard__title">Mail server configuration</div>
        <form method="post" action="/smtp" class="onboard__form">
            <input type="text" name="hostname" placeholder="SMTP hostname (smtp.fastmail.com)*" />
            <p class="input-error"></p>
            <p class="input-info"></p>
            <input type="text" name="port" placeholder="SMTP port (25/587/465)*" />
            <p class="input-error"></p>
            <p class="input-info"></p>
            <input type="text" name="username" placeholder="SMTP username (hello@johnwell.com)*" />
            <p class="input-error"></p>
            <p class="input-info"></p>
            <input type="password" name="password" placeholder="SMTP password" />
            <p class="input-error"></p>
            <p class="input-info"></p>
            <input type="submit" class="button button--primary" value="Submit" />
        </form>
    </main>
    <footer class="footer">
        <div class="footer__left">Powered by Joyread. Licensed under AGPLv3.</div>
        <div class="footer__right">
            <a href="https://github.com/joyread/server">Source code</a>
            <a href="https://joyread.org">Website</a>
            <a href="https://twitter.com/joyreadapp">Twitter</a>
        </div>
    </footer>
</body>
</html>