<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joyread</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.css" />
</head>
<body>
    <header class="header">
        <div class="header__left"></div>
        <a href="" class="header__logo"><img src="/assets/img/vector/logo.svg" alt="Joyread"></a>
        <div class="header__right">
            <a href="" class="header__nav">
                <p>Sign in</p>
            </a>
        </div>
        <div class="header__n-dropdown open">
            asdf
        </div>
    </header>
    <main class="onboard">
        <div class="onboard__title">Create an admin account</div>
        <form class="onboard__form">
            <input type="text" placeholder="Username" />
            <p class="input-error"></p>
            <p class="input-info"></p>
            <input type="email" placeholder="Email address" />
            <p class="input-error"></p>
            <p class="input-info"></p>
            <input type="password" placeholder="Password" />
            <p class="input-error"></p>
            <p class="input-info"></p>
            <input type="submit" class="button button--primary" value="Submit" />
        </form>
    </main>
</body>
</html>